# PROJECT FOR FUNDAMENTALS OF DATA ANALYSIS

## IRIS FLOWER DATASET
## Author : Michael Allen

The project is to create a notebook investigating the variables and
data points within the well-known iris flower data set associated
with Ronald A Fisher.

In [1]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import sys
import matplotlib.pyplot as plt
from sklearn import datasets
import re
import fileinput
import random

In [2]:
filename = "iris.csv"
# https://www.geeksforgeeks.org/python-basics-of-pandas-using-iris-dataset/
iris = pd.read_csv('iris.csv')
sys.stdout = open('output.txt','wt')
print("             FUNDAMENTALS OF DATA ANALYSIS PROJECT")
print()
print("5 COLUMNS")
print(iris.columns)
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [3]:
print()
print("The Iris Data Set")
print(iris)
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Add 4 columns to the iris dataframe
- sl*sw = sepal_length * sepal_width
- pl/pw = petal_length / petal_width
- sl+sw = sepal_length + sepal_width
- pl-pw = petal_length - petal_width

In [4]:
iris_columns = ['sepal_length', 'sepal_width' , 'petal_length', 'petal_width', 'species']
iris['sl*sw'] = iris['sepal_length'] * iris['sepal_width']
iris['pl/pw'] = iris['petal_length'] / iris['petal_width']
iris['sl+sw'] = iris['sepal_length'] + iris['sepal_width']
iris['pl-pw'] = iris['petal_length'] - iris['petal_width']
#iris['sl/sw'] = iris[int('sepal_length')] ^ iris[int('sepal_width')]
iris_columns = ['sepal_length', 'sepal_width' , 'petal_length', 'petal_width', 'species', 'sl*sw', 'pl/pw', 'sl+sw', 'pl-pw']
print()
print("9 COLUMNS")
print(iris.columns)
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'sl*sw', 'pl/pw', 'sl+sw', 'pl-pw'],
      dtype='object')

In [5]:
#https://www.geeksforgeeks.org/python-pandas-dataframe-columns/
print(iris)
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sl*sw,pl/pw,sl+sw,pl-pw
0,5.1,3.5,1.4,0.2,setosa,17.85,7.000000,8.6,1.2
1,4.9,3.0,1.4,0.2,setosa,14.70,7.000000,7.9,1.2
2,4.7,3.2,1.3,0.2,setosa,15.04,6.500000,7.9,1.1
3,4.6,3.1,1.5,0.2,setosa,14.26,7.500000,7.7,1.3
4,5.0,3.6,1.4,0.2,setosa,18.00,7.000000,8.6,1.2
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,20.10,2.260870,9.7,2.9
146,6.3,2.5,5.0,1.9,virginica,15.75,2.631579,8.8,3.1
147,6.5,3.0,5.2,2.0,virginica,19.50,2.600000,9.5,3.2
148,6.2,3.4,5.4,2.3,virginica,21.08,2.347826,9.6,3.1
149,5.9,3.0,5.1,1.8,virginica,17.70,2.833333,8.9,3.3

In [6]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html
print()
print("PETAL LENGTH DIVIDED BY PETAL WIDTH")
print(iris["pl/pw"].head(5))
iris["pl/pw"].head(5)

0    7.0
1    7.0
2    6.5
3    7.5
4    7.0
Name: pl/pw, dtype: float64

In [7]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html
print()
print("Data Shape : Numbers of rows and columns")
print(iris.shape)
iris.shape

(150, 9)

In [8]:
#I only printed rows 65 to 70. All other rows were ignored. https://realpython.com/python-print/
print()
print("ROWS 65 to 70")
print(iris[65:71])
iris[65:71]

,sepal_length,sepal_width,petal_length,petal_width,species,sl*sw,pl/pw,sl+sw,pl-pw
65,6.7,3.1,4.4,1.4,versicolor,20.77,3.142857,9.8,3.0
66,5.6,3.0,4.5,1.5,versicolor,16.80,3.000000,8.6,3.0
67,5.8,2.7,4.1,1.0,versicolor,15.66,4.100000,8.5,3.1
68,6.2,2.2,4.5,1.5,versicolor,13.64,3.000000,8.4,3.0
69,5.6,2.5,3.9,1.1,versicolor,14.00,3.545455,8.1,2.8
70,5.9,3.2,4.8,1.8,versicolor,18.88,2.666667,9.1,3.0

In [9]:
# Print ROWS 100 to 105 All other rows were ignored.
print()
print("ROWS 100 to 105")
sliced_data=iris[100:106]
print(sliced_data)
sliced_data

,sepal_length,sepal_width,petal_length,petal_width,species,sl*sw,pl/pw,sl+sw,pl-pw
100,6.3,3.3,6.0,2.5,virginica,20.79,2.400000,9.6,3.5
101,5.8,2.7,5.1,1.9,virginica,15.66,2.684211,8.5,3.2
102,7.1,3.0,5.9,2.1,virginica,21.30,2.809524,10.1,3.8
103,6.3,2.9,5.6,1.8,virginica,18.27,3.111111,9.2,3.8
104,6.5,3.0,5.8,2.2,virginica,19.50,2.636364,9.5,3.6
105,7.6,3.0,6.6,2.1,virginica,22.80,3.142857,10.6,4.5

In [10]:
#The following statistical data is calculated: count, mean, std, min, 25%, 50%, 75% and max Count : Number of rows Mean: Average Std: Standard Deviation 25% : Twenty Five percent 50% : Fifty percent 75% : Seventy five percent Min: Minimum Max : Maximum
print()
summary = iris.describe()
summary = summary.transpose()
summary

,count,mean,std,min,25%,50%,75%,max
sepal_length,150.0,5.843333,0.828066,4.300,5.100000,5.80,6.400000,7.90
sepal_width,150.0,3.054000,0.433594,2.000,2.800000,3.00,3.300000,4.40
petal_length,150.0,3.758667,1.764420,1.000,1.600000,4.35,5.100000,6.90
petal_width,150.0,1.198667,0.763161,0.100,0.300000,1.30,1.800000,2.50
sl*sw,150.0,17.806533,3.368693,10.000,15.645000,17.66,20.325000,30.02
pl/pw,150.0,4.367166,2.651508,2.125,2.802381,3.30,4.666667,15.00
sl+sw,150.0,8.897333,0.891718,6.800,8.300000,8.85,9.575000,11.70
pl-pw,150.0,2.560000,1.050152,0.800,1.400000,2.90,3.300000,4.70

In [11]:
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html?highlight=summary
print("                                         SUMMARY OF DATA : ")
print(summary)
print()