# PROJECT FOR FUNDAMENTALS OF DATA ANALYSIS

## IRIS FLOWER DATASET
## Author : Michael Allen

The project is to create a notebook investigating the variables and
data points within the well-known iris flower data set associated
with Ronald A Fisher.

In [1]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import sys
import matplotlib.pyplot as plt
from sklearn import datasets
import re
import fileinput
import random

In [2]:
filename = "iris.csv"
# https://www.geeksforgeeks.org/python-basics-of-pandas-using-iris-dataset/
iris = pd.read_csv('iris.csv')
sys.stdout = open('output.txt','wt')
print("             FUNDAMENTALS OF DATA ANALYSIS PROJECT")
print()
print("5 COLUMNS")
print(iris.columns)
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [3]:
print()
print("The Iris Data Set")
print(iris)
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Add 4 columns to the iris dataframe
- sl*sw = sepal_length * sepal_width
- pl/pw = petal_length / petal_width
- sl+sw = sepal_length + sepal_width
- pl-pw = petal_length - petal_width

In [4]:
iris_columns = ['sepal_length', 'sepal_width' , 'petal_length', 'petal_width', 'species']
iris['sl*sw'] = iris['sepal_length'] * iris['sepal_width']
iris['pl/pw'] = iris['petal_length'] / iris['petal_width']
iris['sl+sw'] = iris['sepal_length'] + iris['sepal_width']
iris['pl-pw'] = iris['petal_length'] - iris['petal_width']
#iris['sl/sw'] = iris[int('sepal_length')] ^ iris[int('sepal_width')]
iris_columns = ['sepal_length', 'sepal_width' , 'petal_length', 'petal_width', 'species', 'sl*sw', 'pl/pw', 'sl+sw', 'pl-pw']
print()
print("9 COLUMNS")
print(iris.columns)
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'sl*sw', 'pl/pw', 'sl+sw', 'pl-pw'],
      dtype='object')

In [5]:
print(iris)
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sl*sw,pl/pw,sl+sw,pl-pw
0,5.1,3.5,1.4,0.2,setosa,17.85,7.000000,8.6,1.2
1,4.9,3.0,1.4,0.2,setosa,14.70,7.000000,7.9,1.2
2,4.7,3.2,1.3,0.2,setosa,15.04,6.500000,7.9,1.1
3,4.6,3.1,1.5,0.2,setosa,14.26,7.500000,7.7,1.3
4,5.0,3.6,1.4,0.2,setosa,18.00,7.000000,8.6,1.2
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,20.10,2.260870,9.7,2.9
146,6.3,2.5,5.0,1.9,virginica,15.75,2.631579,8.8,3.1
147,6.5,3.0,5.2,2.0,virginica,19.50,2.600000,9.5,3.2
148,6.2,3.4,5.4,2.3,virginica,21.08,2.347826,9.6,3.1
149,5.9,3.0,5.1,1.8,virginica,17.70,2.833333,8.9,3.3